[submodule "input-examples/synthea"]
	path = input-examples/synthea
	url = https://github.com/CU-DBMI/omop-fhir-data.git
	branch = main
[submodule "input-examples/omop-fhir-data"]
	path = input-examples/omop-fhir-data
	url = https://github.com/CU-DBMI/omop-fhir-data.git
	branch = main
